img.zoom {
   
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.1); 
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body {
    
  box-sizing: border-box;
/*   font-family: 'Comic Neue', cursive;
 */
  background-color: #fcffe8;


}







.contenedor {
  padding-top: 1%;
  max-width: 1300px;
  margin: 0 auto;
}

.f0{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.f1{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.header{
  padding-top: 1%;
  display: flex;
  justify-content: center;
  

}
.header img{
  height: 90px;
}
.nav1{
  justify-content: center;
  display: flex;
  height: 140PX;
}
.nav1 ul li a img{


}
.nav1 ul li{
  list-style-type: none;
}
.nav1 ul li {
  display: inline-block;
  

}

.english{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.english img{
  height: 20px;
}
.nav2{
  justify-content: center;
  display: flex;
}
.nav2 ul li a img{
  height: 32px;


}
.nav2 ul li a{
  list-style-type: none;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  font-weight: bold;
  padding: 10px;
}
.nav2 ul li {
  display: inline-block;
  

}

h2 {
  flex: 0 1 100%;
  text-align: center;
  font-size: 1.6rem;
}
h3 {
/*   font-family: 'Libre Baskerville', serif;
 */  margin:0;
  font-weight: 700;
  font-size: 1.6rem;
}
p{
  font-size: 1.2rem;
}
.entrada a img {
  max-width: 100%;
}
.contenido {
  background-color: #fcffe8;
  margin-bottom: 1rem;
  text-transform: uppercase;

}

.contenido h3 {
  text-align: center;
  font-size: .9rem;
  line-height: 1.4rem;
}

.contenido span {
  color:#db008d;
}

.footer{

  text-align: center;
}
.pay img{
  height: 45px;
}
.rrss{

justify-content: center;
  display: flex;
}
.rrss img{
  text-align: center;

height: 30px;

}


@media screen and (min-width:480px) {
  .contenido-principal {
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
      
  }
  .entrada {
      flex: 0 1 calc(50% - 2rem);

  }

}

@media screen and (min-width:768px) {
  .entrada {
      flex: 0 1 calc(25% - 1rem);
  }
}

@media screen and (min-width:1024px) {
  .entrada {
      flex: 0 1 calc(25% - 1rem);
  }
}


.nav{
  margin-bottom: 100px;
  position: relative;
}


/* OTROOEVRLAY 3*/

.overlay3{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 100;
  }
  .overlay3.active{
  visibility: visible;
  }
  .popup3{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.3);
  border-radius: 4px;
  padding: 3px;
  width: 1000px;
  height: 600px;
  transition: 0.2s ease all;
  
  
  }
  .popup3 .btn-cerrar-popup3{
  font-size: 25px;
  line-height: px;
  display: block;
  text-align: right;
  color: #bbbbbB;
  transition: .1s ease all;
  
  }
  
  .popup3 .btn-cerrar-popup3:hover{
  color: #000;
  }
  .popup3.active{opacity: 1; transform: scale(1);}
  

  .cosa{
    position: relative;
    z-index: 100;
    }
    .padding-nav{
       margin-bottom: 7.2rem;
      
      }