img.zoom {
   
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
}
/* ::-webkit-scrollbar {
  display: none;
} */
#body {
    position: fixed;
    font-family: 'Comic Neue', cursive;
  
}   
.transition {
  -webkit-transform: scale(1.1); 
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.containerPersonaje {
  margin-top: 24%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.bg{
  height: 770px;
  position: absolute;
  display: flex;
  justify-content: center;
  background-size: cover;
  object-fit: cover; 
  z-index: -1;
  margin-left: 5%;
  margin-top:-4.5%;
  
}

    

.box {
  height: 430px;
  /* width: 950px; */

  display: flex;
  justify-content: center;
  
  position: absolute;

}
.box img{
  margin-top: 3%;
  height: 520px;
  width: auto;
  object-position: center center;
  

}

#ex1{
  position: relative;
  display: flex;
  justify-content: center;
}



.text{
  position: absolute;


}

.text img{
   height: 940px; 
   width: 100%;
  
  margin-top:-4%;
  margin-bottom: 6%;

z-index: 80;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{   background-color:#fcffe8;
 }

.container{
  width: 100%;
  height: 800px;
  align-items: center;  
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
   /* position: absolute;  */
/*     background-image: url('images/BG.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 60%;
   */
  

}



.text h1{
  font-family:  Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: wheat;
  border: 1px solid rgb(19, 18, 18);
  background: rgb(19, 18, 18);
}

.english{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
padding-right: 60px;
}


.english img{
height: 20px;
}
.header{
  padding-top: 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('images/hed.png');
  margin-bottom: 10px;
}
.header a {
  z-index: 50;
}

.header img {
height: 90px;
z-index: 50;
}

.nav1{
 
 /*  margin-left: 1.7% ; */
  margin-left: 25%;
  position: absolute;
  justify-content: center;
  display: flex;
}
.nav1 ul{
  z-index: 90;
  position: relative;
}
.nav1 ul li a img{

}
.nav1 ul li{
  list-style-type: none;
  padding: 0.2rem;

}
.nav1 ul li {
  display: inline-block;
  

}
.footer{
  margin-top: 13%;
  text-align: center;
  padding-left: 1%;
  position: relative;
  font-family: 'Comic Neue', cursive;
}

.nav1 img{
  position: relative;
  z-index: 100;
  
}
.pay{
  height: 45px;
  z-index: 60;
}
.rrss{
  justify-content: center;
  display: flex;
  top: 15px;
}
.rrss img{
  
  text-align: center;

  height: 35px;

}


/* .f00{
  height: 40%;
  width: 88%;
  z-index: -1;
  margin-top: -78px;
}
 */



.f1{  
height: 100%;
width: 100%;
position: absolute;
z-index: 40;
}


/* .imgpersonaje{
   top: 280px;
  
  height: 599px;
  position: absolute;
  z-index: 20;
  
  



} */
.manchasGenerales{
   position: absolute; 
  display: flex;
  flex-wrap: nowrap;
  height: 800px;
  width: 1000px;

}
.manchasTop{
  position: relative; 
}
.manchasBot{
  position: relative; 
}





.manchaVerde{
  background-image: url("img/HOMEParalaxIllustration2/ManchaRoja.png");
  background-size: 440px;
}

  .mroja{
    
    max-width: 100%;
   margin-left: -20px;
   margin-top: -55px;
  } 
  
.btnRojo{
  
  height: 440px;
  width: 450px;
  position: absolute;
  z-index: 80;;
   opacity: 1;
   z-index: 120;
   background-image: url("img/HOMEParalaxIllustration2/ManchaRoja.png");
   background-size: 440px;
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;
}
.btnRojo:hover{
  background-image: url("img/HOMEParalaxIllustration2/ManchaRojaON.png");
  background-size: 440px;
  background-repeat: no-repeat; 
 
}
.mblanca{
  margin-top: 400px;
  max-width: 100%;

  margin-left: -40px;
  

}
.btnBlanca{
  background-image: url("img/HOMEParalaxIllustration2/ManchaBlanco.png");
  background-size: 430px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 430px;
  width: 400px;
  position: absolute;
  z-index: 80;;
   opacity: 1;
 }

 .btnBlanca:hover{
  height: 430px;
  width: 400px;
  position: absolute;
  z-index: 80;;
   background-image: url("img/HOMEParalaxIllustration2/ManchaBlancooN.png");
   background-size: 430px;
   background-repeat: no-repeat;
 }
/* MANCHA VERDE */
 .mverde{
  margin-top: -9%;
  max-width: 100%;
  margin-left: 155%;
 }
 .btnVerde{
   margin-left: 0;
   height: 430px;
   width: 400px;
   background-image: url("img/HOMEParalaxIllustration2/ManchaVerde.png");
   background-size: 430px;
   background-repeat: no-repeat;
 }
 .btnVerde:hover{
  margin-left: 0;
  height: 430px;
  width: 400px;
  background-image: url("img/HOMEParalaxIllustration2/ManchaVerdeOn.png");
  background-size: 430px;
  background-repeat: no-repeat;
}
.btnAzul{
  margin-left: 0;
  height: 370px;
  width: 400px;
  background-image: url("img/HOMEParalaxIllustration2/ManchaAzul.png");
  background-size: 370px;
  background-repeat: no-repeat;
}
.btnAzul:hover{
 margin-left: 0;
 height: 370px;
 width: 400px;
 background-image: url("img/HOMEParalaxIllustration2/ManchaAzulON.png");
 background-size: 370px;
 background-repeat: no-repeat;
}

/* MANCHA AZUL */
.mazul{
  height: 200px;
  margin-top: -10%;

  margin-left: 170%;
  max-width: 100%;

}
.mazul img{
  position: relative;
  height: 300px;   
   z-index: 50;
 
}

.overlay{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0, .8);
display: flex;
align-items: center;
justify-content: center;
visibility: hidden;
z-index: 2000;
}
.overlay.active{
visibility: visible;
}
.popup{
box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.3);
border-radius: 4px;
padding: 3px;
width: 1000px;
height: 600px;
transition: 0.2s ease all;


}
.popup .btn-cerrar-popup{
font-size: 25px;
line-height: px;
display: block;
text-align: right;
color: #bbbbbB;
transition: .1s ease all;

}

.popup .btn-cerrar-popup:hover{
color: #000;
}
.popup.active{opacity: 1; transform: scale(1);}
.rsvideo{
margin-top: 23px;
}
.rsvideo img{

height: 85px;
}

/* OTROOEVRLAY 3*/

.overlay2{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0, .8);
display: flex;
align-items: center;
justify-content: center;
visibility: hidden;
z-index: 2000;
}
.overlay2.active{
visibility: visible;
}
.popup2{
box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.3);
border-radius: 4px;
padding: 3px;
width: 1000px;
height: 600px;
transition: 0.2s ease all;


}
.popup2 .btn-cerrar-popup2{
font-size: 25px;
line-height: px;
display: block;
text-align: right;
color: #bbbbbB;
transition: .1s ease all;

}

.popup2 .btn-cerrar-popup2:hover{
color: #000;
}
.popup2.active{opacity: 1; transform: scale(1);}

/* OTROOEVRLAY 3*/

.overlay3{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0, .8);
display: flex;
align-items: center;
justify-content: center;
visibility: hidden;
z-index: 100;
}
.overlay3.active{
visibility: visible;
}
.popup3{
box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.3);
border-radius: 4px;
padding: 3px;
width: 1000px;
height: 600px;
transition: 0.2s ease all;


}
.popup3 .btn-cerrar-popup3{
font-size: 25px;
line-height: px;
display: block;
text-align: right;
color: #bbbbbB;
transition: .1s ease all;

}

.popup3 .btn-cerrar-popup3:hover{
color: #000;
}
.popup3.active{opacity: 1; transform: scale(1);}

.popup.active{opacity: 1; transform: scale(1);}
 
.menu_bar{

  display: none;
} 

.navi2{
  margin-top: 8rem;
  width: 100%;
  display: none;
  max-width: 100rem;
  width: 95%;
  margin: 20px auto;
}
.nav2 nav ul{
  /* list-style: none; */
}
.navi2 ul li a{
  font-size: 1.8rem;
  text-decoration: none;
  color: #878586;

  display: block;
  padding: 0.5rem;
  margin-left: 3rem;
}



.menu_bar a{
  text-decoration: none;
  color: #878586;
}
/* .bt-menu{
  display: block;
  padding: 25px;
  overflow: hidden;
  font-size: 25px;
  font-weight: bold;
} */

.menu_bar {
  margin: 6%;
  margin-left: 17rem;
  font-size: 40px;
  padding: 20px;
  position: relative;
  z-index: 10000;
}


.navi2 ul li{
  list-style: none;
}


.animate{
  display: inline;
}
.eng{
  display: none;

}
@media screen and (max-width:375px) {
 .menu_bar{
   display: block;
   width: 100%;
   position: fixed;
   top: 2px;
 }
 .header{
   display: flex;
   
 }
 #log1{
margin-left: 0px;
 }

 #eng{
  display: flex;
  padding-left: 3.5rem;
  
}
body{
 }
   #personaje{
     display: none
   }

   .mroja{
     display: none;
   }
   .mverde{
     display: none;
   }
   .mblanca{
     display: none;
   }
   .mazul{
     display: none;
   }
   #f1{
     display: none;
   }
   
   #imgNav1{
    margin-bottom: 0;
  }
  #imgAnimate{
    margin-bottom: 0;
  }
  #btn-abrir-popup3{
    display: none;
  }
  .nav1{
    display: none;
  }
/*   #nav2{
    font-size: 2rem;
    color: #878586;
    margin-left: 4rem;
    margin-top: 2rem;
    display: inline-block;
  }

  #nav2 ul li a{
    text-decoration: none;

  } */
  #footer{
    margin-left: -2rem;
  }
  .header{
    margin-left: -2rem;
  }
 
  
  #tiendita:active{
    color: #878586;
  }
/*   #nav2 ul li a:visited{
    color: #878586;
  } */

}
@media screen and (max-width:411px ){
  body{
  }

  #personaje{
    display: none
  }

  .mroja{
    display: none;
  }
  .mverde{
    display: none;
  }
  .mblanca{
    display: none;
  }
  .mazul{
    display: none;
  }
  #f1{
    display: none;
  }
  
  #imgNav1{
   margin-bottom: 0;
 }
 #imgAnimate{
   margin-bottom: 0;
 }
 #btn-abrir-popup3{
   display: none;
 }
 .nav1{
   display: none;
 }
/*  #nav2{
   font-size: 2rem;
   color: #878586;
   margin-left: 4rem;
   margin-top: 2rem;
   display: inline-block;
 }

 #nav2 ul li a{
   text-decoration: none;

 } */
 #footer{
  margin-left: -2rem;
 }
 .header{
   margin-left: 1rem;
 }
 #log1{
/*   margin-left: -2rem;
 */}
 #eng{
   margin-right: 4rem;
   margin-top: 5px;
 }
 #tiendita:active{
   color: #878586;
 }
/*  #nav2 ul li a:visited{
   color: #878586;
 }
 #nav2 ul li a::before{
  color: #878586;
}
 */
}
@media screen and (max-width:768px ){
  body{
  }

  #personaje{
    display: none
  }

  .mroja{
    display: none;
  }
  .mverde{
    display: none;
  }
  .mblanca{
    display: none;
  }
  .mazul{
    display: none;
  }
  #f1{
    display: none;
  }
  
  #imgNav1{
   margin-bottom: 0;
 }
 #imgAnimate{
   margin-bottom: 0;
 }
 #btn-abrir-popup3{
   display: none;
 }
 .nav1{
   display: none;
 }
/*  #nav2{
   font-size: 2rem;
   color: #878586;
   margin-left: 4rem;
   margin-top: 2rem;
   display: inline-block;
 }

 #nav2 ul li a{
   text-decoration: none;

 } */
 #footer{
  margin-left: -2rem;
 }
 .header{
   margin-left: 1rem;
 }
 #log1{
/*   margin-left: -2rem;
 */}
 #eng{
   margin-right: 4rem;
   margin-top: 5px;
 }
 #tiendita:active{
   color: #878586;
 }
/*  #nav2 ul li a:visited{
   color: #878586;
 }
 #nav2 ul li a::before{
  color: #878586;
} */

@media screen and (max-width:480px) {

.log1{
  margin-right: 110px;
}


.container{

}
.footer{
/* margin-top: 500px;
 */}
.f0{
visibility: hidden;
}
}



/* @media screen and (max-width:768px) {
body{

   }
.f0{
  
}
.header{
  display: flex;
  flex-wrap: wrap;
}
.log1{
  margin-right: 110px;
}
.imgpersonaje{
  height: 200px;
  position:static;
  visibility: hidden;
}

.container{
  margin-top: 50%;

}

.f0{
visibility: hidden;
} */

}
@media screen and (min-width:1920px ) and (min-height: 1080px){
  body{
/*     background-color: red;
 */  }
  #imgAnimate{
/*     background-color: greenyellow;
 */margin-bottom: 90px;  }
  .padding-nav{
/*     background-color: hotpink;
 */  }

}
@media screen and (max-width:1024px) {
  body{
  }
  .f0{
    display: none;
  }
  #personaje{
    display: none
  }

  .mroja{
    display: none;
  }
  .mverde{
    display: none;
  }
  .mblanca{
    display: none;
  }
  .mazul{
    display: none;
  }
  #f1{
    display: none;
  }
  
  #imgNav1{
   margin-bottom: 0;
 }
 #imgAnimate{
   margin-bottom: 0;
 }
 #btn-abrir-popup3{
   display: none;
 }
 .nav1{
   display: none;
 }
 #nav2{
   font-size: 2rem;
   color: #878586;
   margin-left: 4rem;
   margin-top: 2rem;
   display: inline-block;
 }

 #nav2 ul li a{
   text-decoration: none;

 }
 #footer{
   margin-top: 34rem;
  margin-left: -2rem;
 }
 .header{
   margin-left: 1rem;
 }
 #log1{
/*   margin-left: -2rem;
 */}
 #eng{
   margin-right: 4rem;
   margin-top: 5px;
 }
 #tiendita:active{
   color: #878586;
 }
 #nav2 ul li a:visited{
   color: #878586;
 }
 #nav2 ul li a::before{
  color: #878586;
}

@media screen and (max-width:320px){
    body{
      position: absolute;
    }
    #personaje{
      margin-top: 50%;
      height: 200px;
      
    }
    .footer {
      margin-top: 70%;
    }
    .manchasGenerales{
      flex-wrap: nowrap;
      margin-top: 80%;
    }
    
    .mroja img{
      height: 100px;
      margin-left: 0%;
      margin-top: -20%;
    
    }
    .mblanca img{
      height: 100px;

      margin-top: 0%;
    
      margin-left: 0%;
    
    }
    .mverde img{
      height: 100px;

     margin-top: -25%;
    
    margin-left: 0%;
    }
    
    .mazul img{
      height: 100px;

      margin-top: 30%;
    
      margin-left: 0%;
    
    }

}

#imgAnimate{


}



@media screen and (min-width:2560px ) and (min-height: 1440px){
    body{
/*       background-color: blue;
 */    }
    .text img{
      margin-top: 3%;
      height: 1600px;
    }
    .bg{
      margin-top: 2%;
      height: 1300px;
    }
    #personaje{
      height: 850px;
      margin-top: 5%;
    }
    .footer{
      margin-top: 23%;
    }
    .manchasGenerales{
      margin-top: 8%;
    }
    .mroja img{
      height: 410px;
      margin-left: 0%;
    
    }
    .mblanca img{
      height: 460px;

      margin-top: 10%;
    
      margin-left: 0%;
    
    }
    .mverde img{
      height: 420px;

    
    margin-left: 0%;
    }
    
    .mazul img{
      height: 430px;

      margin-top: 65%;
    
      margin-left: 0%;
    
    }
    .nav1{
      margin-left:31.2%;
    }
    
  
}




#imgAnimate{
}
.nav{
  position: relative;
}
.cosa{
/*   position: relative;
 */
}
.padding-nav{
   margin-bottom: 7.2rem;
  }
.size{
  height: 60px;
}
.sizegift{
  height: 200px;
}
#personaje{
  position: relative;
  z-index: 0;
}

#nav2 ul li a {
  color: #878586;
}
}
img.zoom {
   
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
}